.template-announcement-controlpanel .icon-controlpanel-authomatic {
    background-image: url(announcement.svg);
    background-size: 72px auto, 72px auto;
    height: 72px;
    width: 72px;
    margin-left: auto;
    margin-right: auto;
}

.template-announcement-controlpanel .datagridwidget-cell{
    vertical-align: middle;
    text: center;
}

.template-announcement-controlpanel .datagridwidget-cell label{
    display: none;
}

.template-announcement-controlpanel .datagridwidget-cell .pattern-pickadate-wrapper input {
    width: 150px !important;
}